{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset | Creditto" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <h1 class="display-5">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="lead">{% trans "Forgot your password? Enter your e-mail address below, and we'll send you the password reset link." %}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2">
          <input class="mt-2 btn btn-dark" type="submit" value="{% trans 'Reset My Password' %}">
        </div>
    </form>
  </div>
</div>
{% endblock %}
