[x-cloak] { display: none !important }

.user-search { border-radius: 0 .375rem .375rem 0 !important }

.btn-cleardefaults {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.dropdown-box {
  min-width: 20rem;
}

.dropdown-close {
  color: black;
}

.dropdown-close:hover {
  color: red;
}
