[x-cloak] { display: none !important }

.user-search { border-radius: 0 .375rem .375rem 0 !important }

.btn-cleardefaults {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.dropdown-box {
  min-width: 20rem;
}

.dropdown-close {
  color: black;
}

.dropdown-close:hover {
  color: red;
}

.post-picture {
  max-height: 20rem;
}

.inbox-icon {
  transition: .5s;
}

.inbox-icon:hover {
  color: rgb(var(--bs-primary-rgb)) !important;
}

.message {
  width: 60%;
}

.message-picture {
  max-width: 60%;
  max-height: 10rem;
}
