{% extends 'landing/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row mb-4">
  <div class="col-md-5 col-sm-6">
    <a class="btn btn-dark btn-sm shadow-none" href="{% url 'posts' %}">Feed</a>
  </div>
</div>
{% endif %}

<div class="row justify-content-center mb-4">
  <div class="col-md-5 col-sm-12 border-bottom">
    <h6 class="d-flex justify-content-between">
      <span>
        <a href="{% url 'profile' post.author.pk %}"><img class="rounded-circle me-1" src="{{ post.author.profile.avatar.url }}" width="36" height="36"></a>
        <strong class="position-relative">
          {{ post.author }}
          <a href="{% url 'profile' post.author.pk %}" class="stretched-link"></a>
        </strong>
        <i class="text-secondary">{{ post.created }}</i>
      </span>
      {% if request.user == post.author %}
      <span class="d-flex gap-1 align-items-start">
        <a href="{% url 'post-edit' post.pk %}" class="text-warning"><i class="far fa-edit"></i></a>
        <a href="{% url 'post-delete' post.pk %}" class="text-danger"><i class="fas fa-trash"></i></a>
      </span>
      {% endif %}
    </h6>
    {{ post.content }}
    <div class="d-flex gap-1 flex-row justify-content-end my-2">
      <form action="{% url 'like' post.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn-cleardefaults" {% if not request.user.is_authenticated %}disabled{% endif %}>
          <i class="text-success fas fa-thumbs-up"></i>
          <i class="text-dark">{{ post.likes.count }}</i>
        </button>
      </form>
      <form action="{% url 'dislike' post.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn-cleardefaults" {% if not request.user.is_authenticated %}disabled{% endif %}>
          <i class="text-danger fas fa-thumbs-down"></i>
          <i class="text-dark">{{ post.dislikes.count }}</i>
        </button>
      </form>
    </div>
  </div>
</div>

{% if request.user.is_authenticated %}
<div class="row justify-content-center">
  <div class="col-md-5 col-sm-12 ps-5">
    <form method="post">
      {% csrf_token %}
      <div class="d-flex align-items-center gap-2">
        {{ form|crispy }}
        <button class="mb-3 btn btn-warning btn-sm" type="submit">Comment</button>
      </div>
    </form>
  </div>
</div>
{% endif %}

{% for comment in comments %}
{% if comment.is_parent %}
<div x-data="{ replyButton: false }">
  <div class="row justify-content-center mb-3">
    <div class="col-md-5 col-sm-12 ps-5 border-bottom">
      <h6 class="d-flex justify-content-between">
        <span>
          <a href="{% url 'profile' comment.author.pk %}"><img class="rounded-circle me-1" src="{{ comment.author.profile.avatar.url }}" width="36" height="36"></a>
          <strong class="position-relative">
            {{ comment.author }}
            <a href="{% url 'profile' comment.author.pk %}" class="stretched-link"></a>
          </strong>
          <i class="text-secondary">{{ comment.created }}</i>
        </span>
        {% if request.user == comment.author %}
        <span class="d-flex gap-1 align-items-start">
          <a href="{% url 'comment-edit' post.pk comment.pk %}" class="text-warning"><i class="far fa-edit"></i></a>
          <a href="{% url 'comment-delete' post.pk comment.pk %}" class="text-danger"><i class="fas fa-trash"></i></a>
        </span>
        {% endif %}
      </h6>
      {{ comment.comment }}
      <div class="d-flex gap-1 flex-row justify-content-end my-2">
        {% if request.user.is_authenticated %}
        <button class="btn-cleardefaults" @click="replyButton = !replyButton">
          <i class="far fa-comment-dots"></i>
        </button>
        {% endif %}
        <form action="{% url 'comment-like' post.pk comment.pk %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" class="btn-cleardefaults" {% if not request.user.is_authenticated %}disabled{% endif %}>
            <i class="text-warning fas fa-thumbs-up"></i>
            <i class="text-dark">{{ comment.likes.count }}</i>
          </button>
        </form>
        <form action="{% url 'comment-dislike' post.pk comment.pk %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" class="btn-cleardefaults" {% if not request.user.is_authenticated %}disabled{% endif %}>
            <i class="text-secondary far fa-thumbs-down"></i>
            <i class="text-dark">{{ comment.dislikes.count }}</i>
          </button>
        </form>
      </div>
    </div>
  </div>

  {% if request.user.is_authenticated %}
  <div class="row justify-content-center" x-cloak x-show="replyButton" x-transition.duration.1000ms>
    <div class="col-md-5 col-sm-12 ps-5">
      <form action="{% url 'comment-reply' post.pk comment.pk %}" method="post">
        {% csrf_token %}
        <div class="d-flex align-items-center gap-2 ms-5">
          {{ form|crispy }}
          <button class="mb-3 btn btn-warning btn-sm" type="submit">Comment</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
  
  {% for child_comment in comment.children %}
  <div class="row justify-content-center mb-3">
    <div class="col-md-5 col-sm-12 ps-5 pe-0">
      <div class="ps-5 pe-2 border-bottom">
        <h6 class="d-flex justify-content-between">
          <span>
            <a href="{% url 'profile' child_comment.author.pk %}"><img class="rounded-circle me-1" src="{{ child_comment.author.profile.avatar.url }}" width="36" height="36"></a>
            <strong class="position-relative">
              {{ child_comment.author }}
              <a href="{% url 'profile' child_comment.author.pk %}" class="stretched-link"></a>
            </strong>
            <i class="text-secondary">{{ child_comment.created }}</i>
          </span>
          {% if request.user == child_comment.author %}
          <span class="d-flex gap-1 align-items-start">
            <a href="{% url 'comment-edit' post.pk child_comment.pk %}" class="text-warning"><i class="far fa-edit"></i></a>
            <a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="text-danger"><i class="fas fa-trash"></i></a>
          </span>
          {% endif %}
        </h6>
        {{ child_comment.comment }}
        <div class="d-flex gap-1 flex-row justify-content-end my-2">
          <form action="{% url 'comment-like' post.pk child_comment.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn-cleardefaults" {% if not request.user.is_authenticated %}disabled{% endif %}>
              <i class="text-warning fas fa-thumbs-up"></i>
              <i class="text-dark">{{ child_comment.likes.count }}</i>
            </button>
          </form>
          <form action="{% url 'comment-dislike' post.pk child_comment.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="btn-cleardefaults" {% if not request.user.is_authenticated %}disabled{% endif %}>
              <i class="text-secondary far fa-thumbs-down"></i>
              <i class="text-dark">{{ child_comment.dislikes.count }}</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endfor %}
{% endblock content %}
