{% extends 'landing/base.html' %}

{% block content %}
<div class="row justify-content-center mb-4">
  <div class="d-grid justify-content-center card shadow-sm col-md-5 col-sm-12 mt-2 pb-3">
    <div class="text-center my-3">
      <img class="rounded-circle" src="{{ profile.avatar.url }}" width="128" height="128">
    </div>
    
    <h5 class="text-center">
      {% if profile.name %}
      {{ profile.name }}
      {% endif %}
      <strong>@{{ profile.user.username }}</strong>
      {% if request.user == user %}
      <a href="{% url 'profile-edit' profile.pk %}" class="text-warning"><i class="far fa-edit"></i></a>
      {% endif %}
    </h5>
    
    {% if profile.birthdate %}
    <span>{{ profile.birthdate }}</span>
    {% endif %}
    
    {% if profile.location %}
    <span>{{ profile.location }}</span>
    {% endif %}
    
    {% if profile.bio %}
    <span class="mt-2">{{ profile.bio }}</span>
    {% endif %}
    
    <div class="d-flex justify-content-between align-items-baseline mt-3">
      <span>
        <i>Followers:</i>
        {{ num_followers }}
      </span>
      {% if user != request.user %}
      {% if following %}
      <form action="{% url 'remove-follower' profile.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-sm btn-outline-danger" type="submit">Unfollow</button>
      </form>
      {% else %}
      <form action="{% url 'add-follower' profile.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-sm btn-outline-success" type="submit">Follow</button>
      </form>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% for post in posts %}
<div class="row justify-content-center mb-3">
  <div class="col-md-5 col-sm-12 border-bottom">
    <div class="position-relative">
      <h6><strong>{{ post.author }}</strong> {{ post.created }}</h6>
      {{ post.content }}
      <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
    </div>
    <div class="d-flex gap-1 flex-row justify-content-end my-2">
      <form action="{% url 'like' post.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" style="border: none; box-shadow: none; background-color: transparent">
          <i class="text-success fas fa-thumbs-up"></i>
          <i>{{ post.likes.count }}</i>
        </button>
      </form>
      <form action="{% url 'dislike' post.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" style="border: none; box-shadow: none; background: transparent">
          <i class="text-danger fas fa-thumbs-down"></i>
          <i>{{ post.dislikes.count }}</i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
