{% extends 'landing/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12 text-center">
    <h1 class="display-5">Connect with the whole world using...</h1>
    <p class="lead">A social network you can trust!</p>
    <div class="mb-4 d-flex gap-2 justify-content-center">
      <a class="btn btn-warning" href="{% url 'account_login' %}">Login</a>
      <a class="btn btn-dark" href="{% url 'account_signup' %}">Register</a>
    </div>
  </div>
{% endblock content %}
